<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/css/normalize.css"/>
		<link rel="stylesheet" href="/css/app.css"/>
		{% for script in scripts %}
			<script src="{{ script }}"></script>
		{% endfor %}
	</head>
	<body>
		<script>
			window.App.Init();
			window.App.Start();
		</script>
	</body>

</html>
