<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<!-- <link rel="stylesheet" href="/css/normalize.css"/>-->
		<link rel="stylesheet" href="/css/app.css"/>
		{% for script in scripts %}
			<script src="{{ script }}"></script>
		{% endfor %}
		<script>
			window.App.Boot();
		</script>
	</head>
	<body>
	</body>

</html>
